# Server Configuration
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database
MONGODB_URI=mongodb://localhost:27017/funtech-creative

# JWT
JWT_SECRET=x4mlnh5YpMy0YX4Cu3wSiZUxdIJUhDRsMoFl1qzgO32

# Flutterwave
FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-2854f0b7810ed39bd74254172ef6495b-X
FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-cf8f73359d419ca1c15933f5576928b6-X
FLUTTERWAVE_ENCRYPTION_KEY=FLWSECK_TESTa0e0968af44b
FLUTTERWAVE_WEBHOOK_SECRET=FLWSECK_TEST-2854f0b7810ed39bd74254172ef6495b-X
# FLUTTERWAVE_WEBHOOK_SECRET=your-webhook-secret

# Cloudinary
CLOUDINARY_CLOUD_NAME=dhipowibc
CLOUDINARY_API_KEY=969738989466243
CLOUDINARY_API_SECRET=bs3POq5mX5aX04RIl4N1DLcCrqs

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=funtechinnovationsglobal@gmail.com 
EMAIL_PASS=fjkl biyv pidh gbsu
# EMAIL_PASS=fjkl biyv pidh gbsu
EMAIL_FROM="FUNTECH Creative" <noreply@funtechcreative.com>
